body{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
}

.flexible-container{
    height: 500px;
    padding-bottom: 150px;
    display: flex;
}
.top-banner{
    background-image: url(img/header-bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.half-width{
    width: 39%;
    margin-left: 2%;
    padding: 2%;
}
.half-width img{
    width: 110%;
}
.half-width-text{
    margin-left: 10%;
    margin-top: 8%;
}
.half-width-text h2{
    font-size: 70px;
    line-height: 1.05;
    margin: 1%;
    font-weight: 200;
    color: darkgray;
}
.half-width-text h2 span{
    font-size: 130px;
    font-weight: 900;
    color:#D93726;
}
.half-width-text h5{
    font-size: 40px;
    margin: 1%;
    color: rgb(134, 131, 131);
}
.half-width-text p{
    font-size: 20px;
    margin: 0%;
}
.anchor-button{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid tomato;
    background: linear-gradient(180deg,salmon,tomato);
    padding: 10px 40px;
    border-radius: 10px;
}
.mid-width-text{

}
.mid-width-text h1{
    font-size: 40px;
}
.mid-width-text p{
    font-size: 25px;
    color: gray;
}
.products-section{
    background-image: url(img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.products-section h1{
    color: white;
    font-size: 70px;
    text-align: center;
    margin: 2%;
}

.products-section p{
    color:gray;
    font-size: 40px;
    text-align: center;
    margin: 2%;
}


.products-area{
    background-color: rgba(0, 0, 0, 0.4);
    width: 25%;
    margin-left: 3%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgb(255, 99, 71,.5);
}
.products-area img{
    border: 1px solid tomato;
    border-radius: 5%;
    width: 100%;
}

.products-section h3{
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 2%;
}

.products-section h6{
    color:rgb(218, 218, 218);
    font-size: 20px;
    text-align: center;
    margin: 0%;
}

.social-section{
    margin: 10%;
    height: 150px;
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    background-color:white;
    box-shadow: 5px 5px 10px gray;
    padding: 1%;
}
.social-info{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
}
.social-section h1{
    font-size: 50px;
    text-align: center;
    margin: 0%;
}
.social-section p{
    font-size: 25px;
    text-align: center;
    margin: 0%;
}

.app-section{
    height: 400px;
    background-color: #E84E1D;
    display: flex;
}
.app-area{
    width: 20%;
    margin: 2% 15%;
}
.app-section img{
    width: 100%;
}
.icon{
    width: 150px;
    display: flex;
    padding: 2%;
    margin: 2%;
}
.store-icon{
    width: 150%;
    height: 100%;
    padding: 2%;
}

.app-text{
    color: white;
}
.app-text h3{
    font-size: 40px;
    margin: 2%;
}
.app-text h1{
    font-size: 80px;
    margin: 0%;
}
.app-text p{
    font-size: 20px;
    margin: 0%;
}
